.list {
  display: flex;
  align-items: center;
}

.leftGradient {
  background: linear-gradient(440deg, #030303 0%, rgba(3, 3, 3, 0.80) 55.46%, rgba(3, 3, 3, 0.00) 100%);
}

.rightGradient {
  background: linear-gradient(270deg, #030303 0%, rgba(3, 3, 3, 0.80) 55.46%, rgba(3, 3, 3, 0.00) 100%);
}